.headercontext{
  display: inline-block;
  align-items: center;
}
.divinput {
  padding: 0px !important;
  border-width: 1px !important;
  display: flex !important;
  height: auto !important;
 }
.input {
  border-width: 0px !important;
  height: fit-content !important;
  margin: auto !important;
 }
.svgwhite {
  fill: red;
}
